.info-legal{
    font-size: 1rem;
    position: absolute;
    padding: 10px;
    overflow-y: auto;
    height: 85%;
}
.alerta-cosib{
    color:#FC0000;
    font-weight:bold;
}

.team{
    margin-top: 150px;
    
}
.equipo-desarrollo{
    color:#2B2D42;
    font-size: 0.8rem;
    font-weight: bold
}
.c-team{
    color:#2B2D42;
    font-size: 0.7rem;
    font-weight: bold;
}
.integrantes{
    margin-left: 8px;
    font-size: 0.7rem;
}

