<div class="info-legal">
    <span class="alerta-cosib">Alerta UAMI</span> ha sido desarrollada con el propósito de proporcionar asistencia
    inmediata a los usuarios en
    situaciones de emergencia dentro de las instalaciones de la universidad. A través de esta herramienta, los usuarios
    podrán solicitar asistencia en situaciones de emergencia médica, casos de violencia, orientación psicológica, apoyo
    de protección civil o intervención del personal de vigilancia, garantizando una respuesta eficiente y oportuna.<br>
    Es importante destacar que, aunque el objetivo de la aplicación es brindar ayuda en todo momento, la capacidad de
    respuesta está sujeta tanto a los horarios establecidos para las labores del personal encargado de la atención de
    emergencias, como a factores relacionados con la conectividad. En ciertos momentos, debido a estas limitaciones, es
    posible que no se puedan atender los casos a través de la aplicación. En dichas circunstancias, se proporcionará
    automáticamente el número de contacto de emergencias 911 para que el usuario pueda solicitar ayuda externa.
    Adicionalmente, este mismo protocolo aplicará en situaciones en las que el usuario se encuentre fuera de las
    instalaciones de la universidad o en aquellas donde no disponga de una conexión a internet.
    <br>Cabe resaltar que los datos proporcionados por los usuarios a través de la aplicación no serán almacenados en
    nuestros servidores y únicamente serán utilizados con el fin de gestionar la atención de emergencias en tiempo real.
    La protección de la privacidad y la seguridad de la información es fundamental.
    <br>El uso de la aplicación implica la aceptación de estas condiciones, reafirmando nuestro compromiso con la
    seguridad
    y el bienestar de nuestra comunidad universitaria.

    <div class="team">
        <span class="equipo-desarrollo">🚀 Equipo de Desarrollo</span><br>
        <span class="c-team">🌟 Líderes de Proyecto.</span><br>
        <div class="integrantes">
            Dr. Jesús Alfonso Martínez Ortiz<br>
            Dr. Manuel Aguilar Cornejo<br>
            Dr. José Luis Quiróz Fabián<br>
            M. en C. Adriana Pérez Espinóza<br>
        </div>

        <span class="c-team">🎨 Diseño. </span><br>
        <div class="integrantes">
            Lic. José Yael Torres Flores<br>
        </div>

        <span class="c-team">👨‍💻 Programadores.</span><br>
        <div class="integrantes">
            Alan David Ramírez Navarrete. Estudiante de Ing. de Software<br>
            Ricardo Javier Ramírez Burgos. Estudiante de Lic. en Computación<br>
            César Gerardo Guzmán López. Estudiante de Lic. en Computación<br>
            Laura Gabriel Santes. Estudiante de Lic. en Computación<br>
        </div>
    </div>



</div>