.info-legal{
    font-size: 1rem;
    position: absolute;
    padding: 10px;
    overflow-y: auto;
    height: 85%;
}


.team{
    margin-top: 150px;
    font-size: 0.7rem;
}
.tm{
    color:#2B2D42;
    font-size: 0.7rem;
    font-weight: bold;
}


.alerta-cosib{
    color:#FC0000;
    font-weight:bold;
}