<div>
  <ion-split-pane contentId="main-content">
    <ion-app>
      <ion-header color="primary">
        <div class="cabecera-logos">
          <ion-title>CABECERA PARA LOGOS</ion-title>
        </div>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>este es el titulo de la pagina</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-router-outlet id="main-content"></ion-router-outlet>
      </ion-content>
    </ion-app>
  </ion-split-pane>
</div>
<ion-menu contentId="main-content">

  <ion-content color="secondary" class="principal-menu-contenido">This is the menu content.</ion-content>
</ion-menu>