#main-content {
  min-height: 650px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

ion-menu {
  margin-top: 6rem;
  --background: none;
  --box-shadow: none;
  --ion-backdrop-color: none;

  --ion-text-color: white;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu::part(backdrop) {
  background-color: rgba(255, 255, 255, 0);
}

ion-menu::part(container) {
  border-radius: 0 0 30px 0;
  //quito sombras
  box-shadow: none;
  --min-width: 85%;
  --min-height: 60%;
  --max-height: 80%;
  --color: #ebf0f2;
  color: #ebf0f2;
}
.principal-menu-contenido {
  --background: linear-gradient(
      to bottom,
      rgba(43, 45, 66, 1) 50%,
      rgba(43, 45, 66, 0)
    ),
    var(--ion-color-secondary) no-repeat center -200px / 120% url("../assets/texturas/png/Fondo-azul.png");
  --color: #ebf0f2;
  color: #ebf0f2;
}

.cabecera-logos {
  height: 6rem;
  background-color: var(--ion-color-primary);
  display: flex;
  justify-content: space-around; /* Distribuye los logos con espacio alrededor */
  align-items: center;
  gap: 1rem; /* Espacio entre los logos */
  width: 100%; /* Ocupa todo el ancho */
}

.cabecera-logos .logo {
  margin-top: 1rem;
  height: 2rem;
}
.cabecera-menu {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  width: 100%; /* Ocupa todo el ancho */
}

.cabecera-menu .icono {
  height: 3rem; /* Asegura que los iconos sean cuadrados */
  margin: 1rem;
  padding: 0.4rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
}

.cabecera-menu h1 {
  margin: 0; /* Elimina el margen por defecto del h1 */
  flex-grow: 1; /* Permite que el h1 ocupe el espacio disponible */
  text-align: left; /* Centra el texto horizontalmente */
  font-size: 1.4 rem;
  margin-left: 1rem;
  font-weight: bold;
}
.contenido-menu {
  margin: 1rem;
  margin-top: 1rem;
  .opciones {
    cursor: pointer;
  }
  .opcion {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--ion-color-primary);
  }
  .icono-menu {
    height: 3rem;
    margin-right: 1rem; /* Optional: Adds space between the icon and text */
    padding: 0.5rem;
  }
}

.cabecera-menu-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  padding-top: 2.5rem;

  h1 {
    margin: 0; /* Elimina el margen por defecto del h1 */
    margin-left: 1rem; /* Márgenes laterales elegantes */
    flex-grow: 1; /* Permite que el h1 ocupe el espacio disponible */
    text-align: left; /* Centra el texto horizontalmente */
    font-size: 1.8rem;
    font-weight: bold;
  }

  .icono-menu-content {
    margin: 0 0.7rem; /* Márgenes laterales elegantes */
    font-size: 2.2rem;
  }
}
.background-default {
  ion-content {
    --background: linear-gradient(
        to bottom,
        rgba(235, 240, 242, 1) 20%,
        rgb(235, 240, 242, 0.3)
      ),
      var(--ion-color-tertiary) no-repeat center 60% / auto 140%
        url("../assets/texturas/png/Fondo-azul.png");
  }
  ion-menu-button {
    --background: rgb(255, 255, 255);
  }
  .cabecera-menu-content {
    color: black;
  }
}

.background-danger {
  ion-content {
    --background: linear-gradient(
        to bottom,
        rgba(250, 17, 13, 1) 20%,
        rgba(250, 17, 13, 0)
      ),
      var(--ion-color-danger) no-repeat center 60% / auto 140%
        url("../assets/texturas/png/Fondo-rojo.png");
    color: var(--ion-color-tertiary);
    --ion-text-color: var(--ion-color-tertiary);
  }

  ion-menu-button {
    --background: rgb(255, 255, 255);
  }

  .cabecera-menu-content {
    color: var(--ion-color-tertiary);
  }
}

.background-blue {
  ion-content {
    --background: linear-gradient(
        to bottom,
        rgba(42, 45, 66, 1),
        rgba(42, 45, 66, 0)
      ),
      var(--ion-color-secondary) no-repeat center 60% / auto 140%
        url("../assets/texturas/png/Fondo-azul.png");
    color: var(--ion-color-tertiary);
    --ion-text-color: var(--ion-color-tertiary);
  }

  ion-menu-button {
    --background: rgb(255, 255, 255);
  }

  .cabecera-menu-content {
    color: var(--ion-color-tertiary);
  }
}
.background-gray {
  ion-content {
    --background: linear-gradient(
        to bottom,
        rgba(139, 151, 171, 1),
        rgba(139, 151, 171, 0)
      ),
      var(--ion-color-success) no-repeat center 60% / auto 140%
        url("../assets/texturas/png/Fondo-gris-claro.png");
    color: var(--ion-color-tertiary);
    --ion-text-color: var(--ion-color-tertiary);
  }

  ion-menu-button {
    --background: rgb(255, 255, 255);
  }

  .cabecera-menu-content {
    color: var(--ion-color-tertiary);
  }
}

.ion-page,
ion-app,
.cabecera,
ion-buttons {
  --background: transparent;
  --ion-item-background: transparent;
}
* {
  --background: transparent;
}
.principal {
  margin: 2rem;
  margin-top: 6rem;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 4, 133, 0.086); /* Fondo semitransparente */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.large-spinner {
  --spinner-width: 1300px;
  --spinner-height: 1300px;
  --spinner-color: var(--ion-color-secondary);
}

.help-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 5rem;
  height: 5rem;
  background-color: var(--ion-color-secondary);
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    font-size 0.3s ease;

  &.expanded {
    width: 90%;
    font-size: 1rem;
    border-radius: 2.5rem;
    align-items: left;
    justify-content: space-evenly;
  }

  .icon-globo-flotante-2 {
    color: var(--ion-color-danger);

    font-size: 4rem;
  }
  .icon-opción {
    font-size: 1.2rem;
    text-align: right;
    margin-right: 1rem;
  }
}
