<ion-split-pane>
  <ion-app [ngClass]="backgroundClass">
    <div class="cabecera-logos">
      <img src="assets/logos/uam.svg" alt="UAM Logo" class="logo">
      <img src="assets/logos/cosib.svg" alt="Cosib Logo" class="logo">
      <img src="assets/logos/CosibNegro.svg" alt="Cosib Negro Logo" class="logo">
    </div>


    <ion-content id="main-content">
      <div class="cabecera-menu-content">
        <span (click)="openMenu()" (keydown)="openMenu()" class="icono-menu-content icon-menu-9"></span>
        <h1> {{pageTitle}}</h1>
      </div>
      <ion-router-outlet class="principal" [animated]="true"></ion-router-outlet>

      @if(isAlertActive){
      <div class="help-bubble " [class.expanded]="helpBubbleExpanded" (click)="showHelp()">
        <span class="icon-globo-flotante-2"></span> @if (helpBubbleExpanded) { Status : activo}
      </div>
      }
    </ion-content>
  </ion-app>
</ion-split-pane>
<ion-menu menuId="main-menu" auto-hide="true" contentId="main-content">
  <ion-content class="principal-menu-contenido">
    <div class="cabecera-menu">
      <ion-menu-toggle>
        <img src="assets/icon/SVG/menu.svg" alt="Menu Icon" class="icono">
      </ion-menu-toggle>
      <h1>Menú</h1>
      <img src="assets/icon/SVG/menurARojo.svg" alt="Logo Flotante Rojo" class="icono">
    </div>
    <div class="contenido-menu">
      <ion-menu-toggle>
        <div class="opciones">
          <div class="opcion" (click)="navigateTo('emergencia')">
            <img src="assets/icon/SVG/boton-emergencia-menu.svg" alt="boton" class="icono-menu">
            <div class="text-opcion">Botón de emergencia</div>
          </div>
          <div class="opcion" (click)="navigateTo('servicios')">
            <img src="assets/icon/SVG/servicios-boton-menu.svg" alt="Servicios" class="icono-menu">
            <div class="text-opcion">Servicios COSIB</div>
          </div>
          <div class="opcion" (click)="navigateTo('configuracion')">
            <img src="assets/icon/SVG/configuracion-boton-menu.svg" alt="Configuracion" class="icono-menu">
            <div class="text-opcion">Configuración</div>
          </div>
        </div>
      </ion-menu-toggle>
    </div>
  </ion-content>
</ion-menu>
<!-- Círculo de carga -->
@if (isLoading) {
<div class="loading-overlay">
  <ion-spinner name="crescent" class="large-spinner"></ion-spinner>
</div>
}
