<div class="">
    <div class="subtitulo">Servicios a tu disposición</div>

<div class="opciones-servicios">
    <div class="opcion"  (click)="navigateTo('')">
        <span  alt="boton" class="icon-opción icono-menu"></span>
        <div class="text-opcion">Opción 1</div>
    </div>
    <div class="opcion"  (click)="navigateTo('')">
        <span  alt="boton" class="icon-opción icono-menu"></span>
        <div class="text-opcion">Opción 2</div>
    </div>
    <div class="opcion"  (click)="navigateTo('')">
        <span  alt="boton" class="icon-opción icono-menu"></span>
        <div class="text-opcion">Opción 3</div>
    </div>
    <div class="opcion" (click)="goTelefono('5558044864')">
        <span alt="Servicios" class="icon-llamada icono-menu"></span>
        <div class="text-opcion">Vigilancia </div>
    </div>
    <div class="opcion" (click)="goTelefono('5558046546')">
        <span alt="Configuracion" class="icon-llamada icono-menu"> </span>
        <div class="text-opcion">Protección civil</div>
    </div>
    
</div>
</div>
