<div class="">
  <div class="subtitulo">Servicios a tu disposición</div>

  <div class="opciones-servicios">
    <div class="opcion"
      (click)="goExternalLink('https://www.izt.uam.mx/index.php/programas-para-el-bienestar/picabiuami')">
      <span alt="boton" class="icon-opción icono-menu"></span>
      <div class="text-opcion">Trastorno psicológico </div>
    </div>
    <div class="opcion" (click)="goExternalLink('https://www.izt.uam.mx/index.php/servicio-medico')">
      <span alt="boton" class="icon-opción icono-menu"></span>
      <div class="text-opcion">Atención médica</div>
    </div>
    <div class="opcion"
      (click)="goExternalLink('https://www.izt.uam.mx/index.php/ni/acciones-contra-violencia-genero')">
      <span alt="boton" class="icon-opción icono-menu"></span>
      <div class="text-opcion">Violencia</div>
    </div>
    <div class="opcion" (click)="goTelefono('5558044864')">
      <span alt="Servicios" class="icon-llamada icono-menu"></span>
      <div class="text-opcion">Vigilancia </div>
    </div>
    <div class="opcion" (click)="goTelefono('5558046546')">
      <span alt="Configuracion" class="icon-llamada icono-menu"> </span>
      <div class="text-opcion">Protección civil</div>
    </div>

  </div>
</div>