.subtitulo{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

.opciones-servicios{
    //position: absolute;
}
.opcion {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 3px;
   width: 100%;
    border: 2px solid #A8B1C0 ;
    margin-top: 20px;
    border-radius: 15px;
    
  }

  .icono-menu {
   
    margin-right: 1rem; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: #2B2D42;
    font-size: 1.4rem;
  }

  .text-opcion{
    color:#2B2D42;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .sin-subrayado{
    text-decoration: none;
    
  }

  .opcion:hover{
    background-color:#2B2D42 ;
    border: 2px solid #2B2D42 ;
    .text-opcion{
        color:#EBF0F2;     
    }
    .icono-menu{
        color: #EBF0F2;
    }
   
  }


  
