<div class="configuracion">
  <div>En este apartado puedes modificar tu información personal. Nuestros servidores no almacenan tus datos personales
    en ningún momento. Solo serán utilizados si envías un reporte.</div>

  <div class="info-Usuario">Información de usuario:</div>

  <div class="seccion-preguntas">

    <div>
      <div class="pregunta" slot="label">Nombre completo: </div>
      <input class="input" [(ngModel)]="datosUsuario.nombreCompleto" />
    </div>

    <div>
      <div class="pregunta" slot="label">Matrícula o número de empleado:</div>
      <input class="input" [(ngModel)]="datosUsuario.matricula" />
    </div>
    <div>
      <div class="pregunta" slot="label">Teléfono:</div>
      <input class="input" [(ngModel)]="datosUsuario.numeroTelefono" />
    </div>
    <div>
      <div class="pregunta" slot="label">Correo electrónico:</div>
      <input class="input" [(ngModel)]="datosUsuario.correoElectronico" />
    </div>
    <div class="padrebtn">
      <div class="btn-inferior">
        <button class="btn-guardar" (click)="guardar()" (keypress)="guardar()">Guardar</button>
      </div>
    </div>

  </div>




</div>