<div class="overlay-container">
  <!-- Aquí puedes añadir los elementos que quieres poner encima -->
  <div class="overlay-content">
    <!-- Ejemplo de contenido superpuesto -->
    <p>
      @if(connectionStatus){
      <!---->@if(isUam !==false){
      Mantén presionado el botón de emergencia
      para enviar una alerta COSIB.
      <!---->}@else{
      Parece que no estás en la UAM, se envio una alerta pero no se te podrá asistir.
      llama al 911.
      }

      }
      @else{
      Parece que no tienes conexión a internet
      o el servidor de asistencia no está en línea. Llama al 911.
      }
    </p>



  </div>
</div>

<div class="full-screen-container">

  @if(connectionStatus && isUam !==false ){
  <div class="centered-circle" (touchend)="resetTimer()" (touchstart)="startTimer()" (keydown.enter)="startTimer()  "
    (mousedown)="startTimer()" (mouseup)="resetTimer()" (mouseleave)="resetTimer()">
    <div class="contador">
      {{countdown}}
    </div>
  </div>
  }@else{
  <div [ngClass]="(isUam !== false) ? 'centered-circle-no' : 'centered-circle-no-nouam'" (click)="call911()"
    (touchstart)="call911()" (mousedown)="call911()" (keydown)="call911()">
    <div class="texto-no">
      Llamar al<br>
      <span class="numero">911</span>
    </div>
  </div>
  }
</div>

@if(connectionStatus && isUam ===false){
<div class="boton-inferior">
  <button class="boton" (click)="cancelar()">Cancelar Alerta</button>
</div>
}