.full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure it is above the overlay-container */
  user-select: none; /* Evita la selección de texto */
}

.centered-circle {
  position: relative;
  width: 60vw;
  height: 60vw;
  max-width: 26rem;
  max-height: 26rem;
  background-image: url("/assets/icon/SVG/Botón 1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.centered-circle-no {
  position: relative;
  width: 60vw;
  height: 60vw;
  max-width: 100vh;
  max-height: 100vh;
  background-image: url("/assets/icon/SVG/Botón 2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .texto-no {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    z-index: 10;
    .numero {
      font-size: 3rem;
    }
  }
}

.centered-circle-no-nouam {
  position: relative;
  width: 60vw;
  height: 60vw;
  max-width: 100vh;
  max-height: 100vh;
  background-image: url("/assets/icon/SVG/Botón 1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .texto-no {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    z-index: 10;
    .numero {
      font-size: 3rem;
    }
  }
}

.contador {
  color: white;
  font-size: 20vw;
  font-weight: bold;
  z-index: 10;
  @media screen and (max-width: 768px) {
    font-size: 15vw;
  }
  @media screen and (min-width: 785px) {
    font-size: 7rem;
  }
}
.centered-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    from 255deg,
    rgba(200, 20, 0, 0.1) 280deg,
    rgba(200, 20, 0, 0.2) 330deg,
    rgba(200, 20, 0, 0.3) 340deg,
    rgba(200, 20, 0, 0.4) 350deg,
    rgba(200, 20, 0, 0) 360deg
  );
  opacity: 0;
  transition: opacity 0.1s ease;
}

.centered-circle:active::before {
  opacity: 1;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; /* Ensure it is below the full-screen-container */
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center;
  pointer-events: none;
}

.overlay-content {
  pointer-events: auto;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 10px;
  border-radius: 10px;
  margin-top: 20px; /* Optional: Add some margin from the top */
}
