<div class="overlay-container">
  <!-- Aquí puedes añadir los elementos que quieres poner encima -->
  <div class="overlay-content">
    <!-- Ejemplo de contenido superpuesto -->
    <p>
      @if(connectionStatus){Mantén presionado el botón de emergencia
      durante 3 segundos para enviar una alerta}
      @else{Parece que no tienes conexión a internet
      o el servidor de asistencia no está en línea. Llama al 911.}
    </p>
  </div>
</div>

<div class="full-screen-container">

  @if(connectionStatus){
  <div class="centered-circle" (touchend)="resetTimer()" (touchstart)="startTimer()" (keydown.enter)="startTimer()  "
    (mousedown)="startTimer()" (mouseup)="resetTimer()" (mouseleave)="resetTimer()">
    <div class="contador">
      {{countdown}}
    </div>
  </div>
  }@else{
  <div class="centered-circle-no" (touchstart)="call911()" (mousedown)="call911()" (mouseup)="call911()"
    (mouseleave)="call911()">
    <div class="texto-no">
      Llamar al<br>
      <span class="numero">911</span>
    </div>
  </div>
  }
</div>
